<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Django 1 - INdex</title>
</head>
<body>
   <h1>Index</h1>
   <h2>{{ curso }}</h2>
   <h2>{{ outro }}</h2>
   <!-- <span>{{ logado }}</span> -->
   
   <table>
      <thead>
         <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Estoque</th>
         </tr>
      </thead>
      <tbody>
       {% for cada in produtos %}
          <tr>
             <td>{{ cada.nome }}</td>
             <td>{{ cada.preco }}</td>
             <td>{{ cada.estoque }}</td>
          </tr>

       {% endfor %}   
      </tbody>
   </table>
   
   


</body>
</html>


